<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MAPBOX_ACCESS_TOKEN</key>
	<string>YOUR_MAPBOX_TOKEN_HERE</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
